.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid black;
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0.4rem 0.4rem 1.4rem 1.4rem white;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #303c6c;
  color: #f9e69f;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  color: #303c6c;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #f10202;
}

.incorrect .choice-text {
  color: white;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #303c6c;
  margin-top: 1.6rem;
  border-radius: 10px
}

#progressBarFull {
  height: 3.4rem;
  background-color: #f49366;
  width: 0%;
  border-radius: 6px
}
